* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;

}
#loginpage{
    height: 100%;
    width: 100%;
    /* background-color: black; */

}
#signin{
    height: 100%;
    width: 100%;
}
#loginpage #signin{
    display: flex;
}
#signin #login-part1{
    height: 100%;
<<<<<<< HEAD
    width: 60%;
    background-color: black;
=======
    width: 55%;
    background-color: red;
>>>>>>> 4f3f8b462081aacfea94bc573d5472b07b08200d
}

#signin #login-part2{
    height: 100%;
    width: 45%;
    background-color: blue;
}